## NN vs Logistic Regression

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf

# Import our input dataset
diabetes_df = pd.read_csv('diabetes.csv')
diabetes_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [2]:
# Remove diabetes outcome target from features data
y = diabetes_df.Outcome
X = diabetes_df.drop(columns="Outcome")

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [3]:
# Preprocess numerical data for neural network

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [4]:
# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=200)

# Train the model
log_classifier.fit(X_train,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.729

In [5]:
# Define the basic neural network model
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=8))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
18/18 [==============================] - 1s 1ms/step - loss: 0.6636 - accuracy: 0.6385
Epoch 2/50
18/18 [==============================] - 0s 2ms/step - loss: 0.6300 - accuracy: 0.6657
Epoch 3/50
18/18 [==============================] - 0s 1ms/step - loss: 0.6279 - accuracy: 0.6964
Epoch 4/50
18/18 [==============================] - 0s 2ms/step - loss: 0.6206 - accuracy: 0.6949
Epoch 5/50
18/18 [==============================] - 0s 2ms/step - loss: 0.6208 - accuracy: 0.7019
Epoch 6/50
18/18 [==============================] - 0s 2ms/step - loss: 0.5562 - accuracy: 0.7222
Epoch 7/50
18/18 [==============================] - 0s 2ms/step - loss: 0.5561 - accuracy: 0.7255
Epoch 8/50
18/18 [==============================] - 0s 2ms/step - loss: 0.5196 - accuracy: 0.7554
Epoch 9/50
18/18 [==============================] - 0s 2ms/step - loss: 0.5229 - accuracy: 0.7548
Epoch 10/50
18/18 [==============================] - 0s 2ms/step - loss: 0.5131 - accuracy: 0.7640
Epoch 11/50
18/18 [==============================] - 0s 1ms/step - loss: 0.4964 - accuracy: 0.7886
Epoch 12/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4972 - accuracy: 0.7599
Epoch 13/50
18/18 [==============================] - 0s 1ms/step - loss: 0.4896 - accuracy: 0.7774
Epoch 14/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4848 - accuracy: 0.7786
Epoch 15/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4743 - accuracy: 0.7876
Epoch 16/50
18/18 [==============================] - 0s 2ms/step - loss: 0.5450 - accuracy: 0.7193
Epoch 17/50
18/18 [==============================] - 0s 1ms/step - loss: 0.4791 - accuracy: 0.7750
Epoch 18/50
18/18 [==============================] - 0s 1ms/step - loss: 0.4746 - accuracy: 0.7909
Epoch 19/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4589 - accuracy: 0.7848
Epoch 20/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4740 - accuracy: 0.7920
Epoch 21/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4366 - accuracy: 0.8166
Epoch 22/50
18/18 [==============================] - 0s 1ms/step - loss: 0.4627 - accuracy: 0.7990
Epoch 23/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4569 - accuracy: 0.7917
Epoch 24/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4414 - accuracy: 0.8220
Epoch 25/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4264 - accuracy: 0.8217
Epoch 26/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4389 - accuracy: 0.8003
Epoch 27/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4614 - accuracy: 0.7942
Epoch 28/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4423 - accuracy: 0.8084
Epoch 29/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4467 - accuracy: 0.8101
Epoch 30/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4610 - accuracy: 0.7958
Epoch 31/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4606 - accuracy: 0.7991
Epoch 32/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4496 - accuracy: 0.7901
Epoch 33/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4241 - accuracy: 0.8275
Epoch 34/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4481 - accuracy: 0.8139
Epoch 35/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4534 - accuracy: 0.7959
Epoch 36/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4409 - accuracy: 0.7908
Epoch 37/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4574 - accuracy: 0.7942
Epoch 38/50
18/18 [==============================] - 0s 1ms/step - loss: 0.4238 - accuracy: 0.8144
Epoch 39/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4786 - accuracy: 0.7673
Epoch 40/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4534 - accuracy: 0.7847
Epoch 41/50
18/18 [==============================] - 0s 1ms/step - loss: 0.4347 - accuracy: 0.7991
Epoch 42/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4499 - accuracy: 0.7942
Epoch 43/50
18/18 [==============================] - 0s 1ms/step - loss: 0.4466 - accuracy: 0.7999
Epoch 44/50
18/18 [==============================] - 0s 1ms/step - loss: 0.4240 - accuracy: 0.8194
Epoch 45/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4357 - accuracy: 0.8179
Epoch 46/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4370 - accuracy: 0.7913
Epoch 47/50
18/18 [==============================] - 0s 2ms/step - loss: 0.4559 - accuracy: 0.7846
Epoch 48/50
18/18 [==============================] - 0s 1ms/step - loss: 0.4291 - accuracy: 0.8088
Epoch 49/50
18/18 [==============================] - 0s 1ms/step - loss: 0.4419 - accuracy: 0.7886
Epoch 50/50
18/18 [==============================] - 0s 1ms/step - loss: 0.4346 - accuracy: 0.8048
6/6 - 0s - loss: 0.4768 - accuracy: 0.7604
Loss: 0.47678685188293457, Accuracy: 0.7604166865348816

## NN vs SVM

In [6]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

# Import our input dataset
tele_df = pd.read_csv('bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [7]:
# Generate our categorical variable list
tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [9]:
# Merge one-hot encoded features and drop the originals
tele_df = tele_df.merge(encode_df,left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat,1)
tele_df.head()

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [10]:
# Remove loan status target from features data
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no","Subscribed_yes"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
# Create the SVM model
svm = SVC(kernel='linear')

In [12]:
# Train the model
svm.fit(X_train, y_train)

SVC(kernel='linear')

In [13]:
# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.873

In [14]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=50) 
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
715/715 [==============================] - 1s 1ms/step - loss: 0.6664 - accuracy: 0.6137
Epoch 2/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3722 - accuracy: 0.8759
Epoch 3/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3700 - accuracy: 0.8726
Epoch 4/50
715/715 [==============================] - 1s 983us/step - loss: 0.3680 - accuracy: 0.8742
Epoch 5/50
715/715 [==============================] - 1s 990us/step - loss: 0.3619 - accuracy: 0.8755
Epoch 6/50
715/715 [==============================] - 1s 962us/step - loss: 0.3683 - accuracy: 0.8734
Epoch 7/50
715/715 [==============================] - 1s 967us/step - loss: 0.3689 - accuracy: 0.8733
Epoch 8/50
715/715 [==============================] - 1s 974us/step - loss: 0.3703 - accuracy: 0.8720
Epoch 9/50
715/715 [==============================] - 1s 921us/step - loss: 0.3637 - accuracy: 0.8748
Epoch 10/50
715/715 [==============================] - 1s 932us/step - loss: 0.3662 - accuracy: 0.8735
Epoch 11/50
715/715 [==============================] - 1s 948us/step - loss: 0.3684 - accuracy: 0.8729
Epoch 12/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3683 - accuracy: 0.8723
Epoch 13/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3619 - accuracy: 0.8743
Epoch 14/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3670 - accuracy: 0.8719
Epoch 15/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3551 - accuracy: 0.8783
Epoch 16/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3650 - accuracy: 0.8723
Epoch 17/50
715/715 [==============================] - 1s 907us/step - loss: 0.3551 - accuracy: 0.8767
Epoch 18/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3616 - accuracy: 0.8743
Epoch 19/50
715/715 [==============================] - 1s 929us/step - loss: 0.3678 - accuracy: 0.8713
Epoch 20/50
715/715 [==============================] - 1s 987us/step - loss: 0.3606 - accuracy: 0.8751
Epoch 21/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3659 - accuracy: 0.8725
Epoch 22/50
715/715 [==============================] - 1s 990us/step - loss: 0.3633 - accuracy: 0.8743
Epoch 23/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3619 - accuracy: 0.8736
Epoch 24/50
715/715 [==============================] - 1s 954us/step - loss: 0.3680 - accuracy: 0.8711
Epoch 25/50
715/715 [==============================] - 1s 915us/step - loss: 0.3645 - accuracy: 0.8724
Epoch 26/50
715/715 [==============================] - 1s 996us/step - loss: 0.3679 - accuracy: 0.8709
Epoch 27/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3621 - accuracy: 0.8739
Epoch 28/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3626 - accuracy: 0.8741
Epoch 29/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3675 - accuracy: 0.8711
Epoch 30/50
715/715 [==============================] - 1s 965us/step - loss: 0.3533 - accuracy: 0.8786
Epoch 31/50
715/715 [==============================] - 1s 941us/step - loss: 0.3669 - accuracy: 0.8720
Epoch 32/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3645 - accuracy: 0.8729
Epoch 33/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3529 - accuracy: 0.8788
Epoch 34/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3592 - accuracy: 0.8756
Epoch 35/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3606 - accuracy: 0.8748
Epoch 36/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3619 - accuracy: 0.8728
Epoch 37/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3515 - accuracy: 0.8784
Epoch 38/50
715/715 [==============================] - 1s 988us/step - loss: 0.3596 - accuracy: 0.8747
Epoch 39/50
715/715 [==============================] - 1s 960us/step - loss: 0.3593 - accuracy: 0.8751
Epoch 40/50
715/715 [==============================] - 1s 893us/step - loss: 0.3565 - accuracy: 0.8755
Epoch 41/50
715/715 [==============================] - 1s 953us/step - loss: 0.3564 - accuracy: 0.8764
Epoch 42/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3608 - accuracy: 0.8748
Epoch 43/50
715/715 [==============================] - 1s 992us/step - loss: 0.3572 - accuracy: 0.8771
Epoch 44/50
715/715 [==============================] - 1s 988us/step - loss: 0.3595 - accuracy: 0.8755
Epoch 45/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3577 - accuracy: 0.8759
Epoch 46/50
715/715 [==============================] - 1s 1000us/step - loss: 0.3613 - accuracy: 0.8737
Epoch 47/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3596 - accuracy: 0.8747
Epoch 48/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3633 - accuracy: 0.8725
Epoch 49/50
715/715 [==============================] - 1s 987us/step - loss: 0.3604 - accuracy: 0.87530s - loss: 0.3603 - accuracy: 0.87
Epoch 50/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3649 - accuracy: 0.8731
239/239 - 0s - loss: 0.3689 - accuracy: 0.8720
Loss: 0.36889922618865967, Accuracy: 0.8720472455024719

## Random Forest vs NN

In [16]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
loans_df = pd.read_csv('loan_status.csv')
loans_df.head()

,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,Fully_Paid,99999999,Short_Term,741.0,2231892.0,8_years,Own_Home,Debt_Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
1,Fully_Paid,217646,Short_Term,730.0,1184194.0,<_1_year,Home_Mortgage,Debt_Consolidation,10855.08,19.6,10.0,13,1,122170,272052.0,1.0,0.0
2,Fully_Paid,548746,Short_Term,678.0,2559110.0,2_years,Rent,Debt_Consolidation,18660.28,22.6,33.0,4,0,437171,555038.0,0.0,0.0
3,Fully_Paid,99999999,Short_Term,728.0,714628.0,3_years,Rent,Debt_Consolidation,11851.06,16.0,76.0,16,0,203965,289784.0,0.0,0.0
4,Fully_Paid,99999999,Short_Term,740.0,776188.0,<_1_year,Own_Home,Debt_Consolidation,11578.22,8.5,25.0,6,0,134083,220220.0,0.0,0.0

In [17]:
# Generate our categorical variable list
loans_cat = loans_df.dtypes[loans_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
loans_df[loans_cat].nunique()

Loan_Status              2
Term                     2
Years_in_current_job    11
Home_Ownership           4
Purpose                  7
dtype: int64

In [18]:
# Check the unique value counts to see if binning is required
loans_df.Years_in_current_job.value_counts()

10+_years    13149
2_years       3225
3_years       2997
<_1_year      2699
5_years       2487
4_years       2286
1_year        2247
6_years       2109
7_years       2082
8_years       1675
9_years       1467
Name: Years_in_current_job, dtype: int64

In [19]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(loans_df[loans_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(loans_cat)
encode_df.head()

,Loan_Status_Fully_Paid,Loan_Status_Not_Paid,Term_Long_Term,Term_Short_Term,Years_in_current_job_10+_years,Years_in_current_job_1_year,Years_in_current_job_2_years,Years_in_current_job_3_years,Years_in_current_job_4_years,Years_in_current_job_5_years,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [20]:
# Merge one-hot encoded features and drop the originals
loans_df = loans_df.merge(encode_df,left_index=True, right_index=True)
loans_df = loans_df.drop(loans_cat,1)
loans_df.head()

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,217646,730.0,1184194.0,10855.08,19.6,10.0,13,1,122170,272052.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,548746,678.0,2559110.0,18660.28,22.6,33.0,4,0,437171,555038.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,99999999,728.0,714628.0,11851.06,16.0,76.0,16,0,203965,289784.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,99999999,740.0,776188.0,11578.22,8.5,25.0,6,0,134083,220220.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [21]:
# Remove loan status target from features data
y = loans_df.Loan_Status_Fully_Paid
X = loans_df.drop(columns=["Loan_Status_Fully_Paid","Loan_Status_Not_Paid"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [22]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.849

In [23]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
854/854 [==============================] - 1s 1ms/step - loss: 0.5059 - accuracy: 0.7653
Epoch 2/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3917 - accuracy: 0.8460
Epoch 3/50
854/854 [==============================] - 1s 991us/step - loss: 0.3821 - accuracy: 0.8487
Epoch 4/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3802 - accuracy: 0.8482
Epoch 5/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3740 - accuracy: 0.8518
Epoch 6/50
854/854 [==============================] - 1s 992us/step - loss: 0.3746 - accuracy: 0.8498
Epoch 7/50
854/854 [==============================] - 1s 997us/step - loss: 0.3761 - accuracy: 0.84960s - loss: 0.3762 - accuracy: 0.
Epoch 8/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3723 - accuracy: 0.8497
Epoch 9/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3706 - accuracy: 0.8504
Epoch 10/50
854/854 [==============================] - 1s 918us/step - loss: 0.3770 - accuracy: 0.8467
Epoch 11/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3713 - accuracy: 0.8513
Epoch 12/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3727 - accuracy: 0.8491
Epoch 13/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3729 - accuracy: 0.8490
Epoch 14/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3707 - accuracy: 0.8495
Epoch 15/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3691 - accuracy: 0.8510
Epoch 16/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3744 - accuracy: 0.8488
Epoch 17/50
854/854 [==============================] - 1s 951us/step - loss: 0.3729 - accuracy: 0.8497
Epoch 18/50
854/854 [==============================] - 1s 889us/step - loss: 0.3700 - accuracy: 0.8506
Epoch 19/50
854/854 [==============================] - 1s 957us/step - loss: 0.3635 - accuracy: 0.8538
Epoch 20/50
854/854 [==============================] - 1s 987us/step - loss: 0.3668 - accuracy: 0.8518
Epoch 21/50
854/854 [==============================] - 1s 948us/step - loss: 0.3685 - accuracy: 0.8508
Epoch 22/50
854/854 [==============================] - 1s 980us/step - loss: 0.3638 - accuracy: 0.8520
Epoch 23/50
854/854 [==============================] - 1s 979us/step - loss: 0.3612 - accuracy: 0.85560s - loss: 0.3
Epoch 24/50
854/854 [==============================] - 1s 927us/step - loss: 0.3622 - accuracy: 0.8524
Epoch 25/50
854/854 [==============================] - 1s 935us/step - loss: 0.3681 - accuracy: 0.8509
Epoch 26/50
854/854 [==============================] - 1s 986us/step - loss: 0.3579 - accuracy: 0.8554
Epoch 27/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3563 - accuracy: 0.8567
Epoch 28/50
854/854 [==============================] - 1s 946us/step - loss: 0.3583 - accuracy: 0.8565
Epoch 29/50
854/854 [==============================] - 1s 953us/step - loss: 0.3672 - accuracy: 0.8506
Epoch 30/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3656 - accuracy: 0.8515
Epoch 31/50
854/854 [==============================] - 1s 936us/step - loss: 0.3661 - accuracy: 0.8501
Epoch 32/50
854/854 [==============================] - 1s 955us/step - loss: 0.3648 - accuracy: 0.8507
Epoch 33/50
854/854 [==============================] - 1s 993us/step - loss: 0.3589 - accuracy: 0.8546
Epoch 34/50
854/854 [==============================] - 1s 996us/step - loss: 0.3718 - accuracy: 0.8462
Epoch 35/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3619 - accuracy: 0.8535
Epoch 36/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3591 - accuracy: 0.8551
Epoch 37/50
854/854 [==============================] - 1s 966us/step - loss: 0.3608 - accuracy: 0.8523
Epoch 38/50
854/854 [==============================] - 1s 889us/step - loss: 0.3630 - accuracy: 0.8514
Epoch 39/50
854/854 [==============================] - 1s 987us/step - loss: 0.3644 - accuracy: 0.8532
Epoch 40/50
854/854 [==============================] - 1s 999us/step - loss: 0.3574 - accuracy: 0.8554
Epoch 41/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3616 - accuracy: 0.8529
Epoch 42/50
854/854 [==============================] - 1s 935us/step - loss: 0.3579 - accuracy: 0.8545
Epoch 43/50
854/854 [==============================] - 1s 905us/step - loss: 0.3587 - accuracy: 0.8543
Epoch 44/50
854/854 [==============================] - 1s 957us/step - loss: 0.3525 - accuracy: 0.8581
Epoch 45/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3607 - accuracy: 0.8516
Epoch 46/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3614 - accuracy: 0.8525
Epoch 47/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3576 - accuracy: 0.8543
Epoch 48/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3600 - accuracy: 0.8545
Epoch 49/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3624 - accuracy: 0.8531
Epoch 50/50
854/854 [==============================] - 1s 1ms/step - loss: 0.3581 - accuracy: 0.8520
285/285 - 0s - loss: 0.3952 - accuracy: 0.8439
Loss: 0.395181268453598, Accuracy: 0.843949019908905